#map {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

.marker {
    background-image: url(../images/fireworks_108980.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
}

.centered {
    text-align: center;
}