@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#map {
    margin: 0;
    height: 90vh
}

header {
    background-color: transparent;
}

h4,
p {
    font-size: 14px;
    color: #0dcaf0;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 5px black;
}

.marker-2024 {
    background-image: url(../images/fireworks_2024_bis.gif);
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
}

.no-days {
    font-size: 18px;
}

.no-hours {
    font-size: 20px;
}

.no-minutes {
    font-size: 25px;
}

.centered {
    text-align: center;
}
