@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

:root {
  --color-white: #b8860b;
  --color-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Orbitron", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* set linear gradient from dark blue to dark purple */
  background: linear-gradient(#000628, #200437);
  min-height: 100vh;
}

main,
section {
  margin-bottom: 120px;
}

a {
  color: #0dcaf0;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  text-decoration: none;
  color: #ffe34e;
}

.heading {
  text-align: center;
}

.heading a {
  color: var(--color-white);
  text-decoration: none;
}

.heading a:hover {
  color: #0dcaf0;
  text-decoration: none;
}

.p-4 {
  background-image: linear-gradient(to right, #e91e63, #673ab7);
  border-bottom-color: #b8860b;
  border-bottom-style: ridge;
  border-bottom-width: 10px;
  padding: 0.7rem !important;
}

.p-2 {
  background-image: linear-gradient(to right, #e91e63, #673ab7);
  border-top-color: #b8860b;
  border-top-width: 10px;
  border-top-style: ridge;
}

.heading h1 {
  text-shadow: var(--color-shadow);
  color: var(--color-white);
  font-size: 4em;
  font-weight: 800;
  letter-spacing: 0.15em;
  margin-bottom: 0;
  padding-top: 2%;
}

/* santa run game styles */
canvas {
  display: block;
  top: 0;
  width: 100%;
  height: 170px;
}

#game-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: 50px auto;
  border: 1px solid white; 
  width: 400px; 
  max-width: 100%;
}

#start {
  position: absolute;
}

.score {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  width: fit-content;
  z-index: 300;
  margin: 3px;
}

@media (max-width: 768px) {
  .heading h1 {
    font-size: 2.5em;
  }
}

@media (max-width: 576px) {
  .heading h1 {
    font-size: 2em;
  }
}

/* circle timer animaation */
circle {
  position: absolute;
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 15px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

svg {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  transform: rotateY(180deg) rotate(-90deg);
  width: 300px;
  height: 300px;
}

.timer-1,
.timer-2,
.timer-3 {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 2rem;
  min-width: 250px;
  min-height: 250px;
  border-radius: 50%;
  box-shadow: 2px 9px 20px rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
  border: 10px solid var(--color-white);
  color: var(--color-white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #110530;
}

#timer-offset {
  width: 61px;
}

#timezone-timer-1,
#timezone-timer-2,
#timezone-timer-3 {
  font-family: sans-serif;
}

/* timezones list */
.time-zone-list {
  position: absolute;
  height: 60vh;
  width: fit-content;
  overflow: auto;
  border: 1px solid white;
  border-radius: 30px;
  padding: 20px;
  background-color: black;
}

.time-zone-list li {
  font-family: sans-serif;
  padding: 2px;
}

.time-zone-list button {
  width: 100%;
}

.time-zone-list button:hover {
  background-color: #b8860b;
  border-color: #b8860b;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown-container {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.countdown-item {
  text-align: center;
  margin: 0 5px;
}

/*Snowflake styling */
.snowflake {
  color: #fff;
}

.snowflake,
.snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(110vh);
  }
}

@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(80px);
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear;
}

.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s;
}

.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s;
}

.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s;
}

.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
  animation-delay: 1s;
}

.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}

.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
  animation-delay: 6s;
}

.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s;
}

.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
  animation-delay: 4s;
}

.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
}

.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
  animation-delay: 2s;
}

.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}

.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s;
}

.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s;
}

.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s;
}

.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s;
}

.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s;
}

.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s;
}

.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s;
}

.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s;
}

.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s;
}

.to-do-container {
  border: 10px solid #b8860b;
  box-shadow: 2px 9px 20px rgba(0, 0, 0, 0.8);
  border-style: ridge;
  max-height: 50vh;
  margin: 5% auto;
  overflow-y: auto;
  padding: 1%;
}

.to-do-container h2 {
  color: #fff;
  text-align: center;
}

#taskInput {
  width: 70%;
  padding: 6px;
  margin: 8px 0;
}

label {
  padding-left: 2%;
}

.list-button {
  background-color: #b8860b;
  color: #252525;
  padding: 6px 8px;
  border: none;
  cursor: pointer;
}

.list-button:hover {
  background-color: #8f7522;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 4px 0;
  padding: 8px;
  border-radius: 4px;
}

.remove-task-btn {
  background-color: transparent;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  margin-left: 8px;
  border-radius: 4px;
}

.remove-task-btn:hover {
  background-color: #b8860b;
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;
  /* width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #252525;
  /* color of the scrollbar thumb */
  border-radius: 4px;
  /* rounded corners of the scrollbar thumb */
}

.remove-task-btn {
  background-color: transparent;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  margin-left: 8px;
  border-radius: 4px;
}

.remove-task-btn:hover {
  background-color: #b8860b;
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;
  /* width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #252525;
  /* color of the scrollbar thumb */
  border-radius: 4px;
  /* rounded corners of the scrollbar thumb */
}

@media (max-width: 1400px) {
  .countdown-item {
    margin: 0 5px;
  }

  .countdown-container {
    font-size: 20px;
  }
}

.final-countdown-text {
  font-size: 5em;
}

.final-countdown-timer {
  transition: 2s all;
  transform: scale(2);
  margin: 0 auto;
  z-index: 100;
  align-items: center;
  display: flex;
}

@media (max-width: 576px) {
  .final-countdown-text { 
    font-size: 3em;
  }
  .final-countdown-timer {
    transform: scale(1);
  }
}

.happy {
  font-size: 5em;
  min-height: 300px;
}
